body {
	margin:0;
	background-color: #101010;
	flex-direction: column;
	flex: 1;
}
html {
	margin: 0;
	padding: 0;
	margin-top: 0;
	flex-direction: column;
	overflow-x: hidden;

}
#urlbar {
	text-align: center;
	padding: 10px;
}
#footer {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}
#github {
	width: 150px;
	height: 35px;
	background-color: #000000;
	color: white;
	border-radius: 10px;
	justify-content: center;
	display: flex;
	align-items: center;
	align-self: center;
	text-align: center;

	border: 2px;
	border-color: white;
	cursor: pointer;
	transition: background-color 0.3s;

	
}
#github:hover {
	cursor: pointer;
	background-color: #1b1b1b;
}
#navbar {
	padding-top: 80px;
	background-color: #131313;
	border-right: 1000px;
	border-color: #ffffff;
	top: 0;
	left: 0;
	position: fixed;
	width: 3%;
	height: 100%;
	z-index: 2;
	transition: width 0.5s;
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
	color: #ffffff;
	scrollbar-width: none;
}
#navbar:hover .button{
	width: 100%;
	background-color: #2f333e;
	background-color: #131313;
	color:white;
	border: 0;
	transition: background-color 0.3s;
	height: 30px;
	font-size: 80%;
	cursor: pointer;
	display: block;
	border-radius: 8px;
}
#navbar:hover .button:hover {
	background-color: #393939;
	cursor: pointer;
}

#navbar:hover {
	width: 10%;
}
.heading {
	font-size: 35px;
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	position: relative;
	z-index: 2;
}

#titlebar {
	text-align: center;
	color: #ebebeb;
	top: 0;
	margin-top: auto;
	padding: 1px;
	position: relative;
	width: 99%;
	margin-left: 1%;
	z-index: 1;
	padding-top: 5%;
	padding-bottom: 5%;
}
#title_background {
	position: absolute;
	top: -5px;
	left: -3%;
	right: 0;
	background-image: url("./images/keyboard.jpg");
	padding: 1px;
	padding-top: 5%;
	padding-bottom: 10%;
	filter: blur(5px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 50%;
	z-index: 0;

}
#urlInput {
	border-radius: 5px;
	background-color: #313131;
	border: 0;
	padding: 5px;
	color: white;
}
#urlInput:focus {
	border: 0;
}
.button {

	display: none;
}

.navbar_top {
	visibility: hidden;
}

.subheading {
	color: #ffffff;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.text {
	color: #ffffff;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#game {
	text-align: right;
	float: right;
	width: 96vw;
	height: 99vh;
	border-radius: 8px;
	border: 1px;
}

.logo {
	width: 3vw;
}

.paragraphs {
	margin-left: 3%;
}

#fscreen {
	position: relative;
	bottom: 0;
	width: 5.5vw;
	margin-left: 47.25vw;
	margin-right: 47.25vw;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #1f1f1f;
	padding: 5px;
	color: white;
	border-radius: 8px;
	border: 0;
}

#fscreen:hover {
	background-color: #313131;
}

#customSite {
	border-radius: 5px;
	text-align: right;
	float: right;
	width: 96vw;
	height: 98vh;
	border-radius: 8px;
}

#setURL {
	background-color: #1f1f1f;
	padding: 8px;
	color: white;
	border-radius: 8px;
	border: 0;

}
#setURL:hover {
	background-color: #313131;
}

#reloadButton {
	background-color: #1f1f1f;
	padding: 8px;
	color: white;
	border-radius: 8px;
	border: 0;

}
#reloadButton:hover {
	background-color: #313131;
}

