body {
	margin:0;
	background-color: #404040;
}
html {
	margin: 0;
	padding: 0;
	margin-top: 0;

}
#footer {
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
}
#github {
	width: 150px;
	height: 35px;
	background-color: #000000;
	color: white;
	border-radius: 10px;
	justify-content: center;
	display: flex;
	align-items: center;
	align-self: center;
	text-align: center;
	float: center;
	border: 0;
	cursor: pointer;
	
}
#github:hover {
	cursor: pointer;
	background-color: #1b1b1b;
}
#navbar {
	padding-top: 80px;
	background-color: #2f333e;
	top: 0;
	left: 0;
	position: fixed;
	width: 3%;
	height: 100%;
	z-index: 2;
	transition: width 0.5s;
	overflow: hidden;
	text-align: center;
	color: #ffffff;
}
#navbar:hover {
	width: 10%;
}

#titlebar {
	text-align: center;
	color: #ebebeb;
	background-color: #181818;
	top: 0;
	margin-top: 0;
	padding: 1px;
	position: sticky;
	z-index: 1;
	width: 99%
	margin-left: 1%;
}
.button {
	width: 100%;
	background-color: #2f333e;
	color:white;
	border: 0;
	transition: background-color 0.3s;
	height: 30px;
	font-size: 0.9vw;
	cursor: pointer;
}
.button:hover {
	background-color: #4b5163;
}
.navbar_top {
	visibility: hidden;
}
.navbar:hover + .navbar_top {
	visibility: visible;
}
.heading {
	font-size: 35px;
	color: #ffffff;
}
.subheading {
	color: #ffffff;
	text-align: center;
}
.text {
	color: #ffffff;
	text-align: center;
}

.game {
	text-align: right;
	float: right;
}
